@media (max-width: 600px) {
    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }
    .main-nav a {
        padding: var(--padding-base);
    }
    .nav-left, .nav-right {
        text-align: center;
        padding: 0;
    }
    .profile-section {
        flex-direction: column;
        text-align: center;
    }
    .profile-image {
        margin: 0 0 16px 0; /* Margen inferior para separar del texto */
    }
}