:root{
    /* Fondos */
    --background: #1d2021;
    --background2: #282828;

    /* Textos */
    --foreground: #d4b398;

    /* Colores adicionales */
    --aqua: #89b482;
    --green: #a9b665;
    --blue: #7daea3;
    --purple: #d3869b;
    --visual-purple: #3c333b;
    --red: #ea6962;

    /* Tamaños */
    --ancho-maximo: 800px;

    /* Espaciados */
    --padding-base: 10px;
    --padding-medio: 20px;
    --padding-grande: 35px;
    --padding-xl: 70px;

    /* Esquinas */
    --border-radius: 10px;
    
    /* Tamano de Fuentes */
    --font-size-base: 18px;
    --font-size-medio: 24px;
    --font-size-grande: 30px;

}