<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Wave</title>
    
    <link rel="stylesheet" href="css/main-unified.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Components will be automatically loaded here -->
    <div id="site-header"></div>
    <div id="site-navigation"></div>
    
    <main>
        <!-- Content goes here -->
    </main>
    
    <!-- Footer will be automatically loaded here -->
    <div id="site-footer"></div>
    
    <!-- Load component system first -->
    
    <!-- Load main functionality -->
    

<script src="../js/modules/components.js"></script><script src="../js/main.js"></script></body></html>