<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% BLOG_TITLE %} - David Obando</title>
    
    <link rel="stylesheet" href="{% ROOT_PATH %}css/main-unified.css">
    <link rel="stylesheet" href="{% ROOT_PATH %}css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head><body class="content-blog">{% ADDITIONAL_CSS %}


    <!-- Components will be automatically loaded here -->
    <div id="site-header"></div>
    <div id="site-navigation"></div>
    
    <main>
        <section>
            <div class="container">
                <article class="article-container">
                    {% BREADCRUMBS %}
                    
                    <header class="article-header">
                        <h1 class="article-title">{% BLOG_TITLE %}</h1>
                        <div class="article-meta">
                            <div class="article-meta-item">
                                <i class="far fa-calendar-alt"></i>
                                <time datetime="{% PUBLISH_DATE %}">{% PUBLISH_DATE_FORMATTED %}</time>
                            </div>
                            <div class="article-meta-item">
                                <i class="far fa-clock"></i>
                                <span>{% READ_TIME %} min read</span>
                            </div>
                            {% CATEGORY %}
                        </div>
                    </header>
                    
                    <div class="article-content">
                        {% BLOG_CONTENT %}
                        
                        <footer class="article-footer">
                            {% NAVIGATION_LINKS %}
                        </footer>
                    </div>
                </article>
            </div>
        </section>
    </main>
    
    <!-- Footer will be automatically loaded here -->
    <div id="site-footer"></div>
    
    <!-- Load component system first -->
    <script src="{% ROOT_PATH %}js/modules/components.js"></script>
    <!-- Load main functionality -->
    <script src="{% ROOT_PATH %}js/main.js"></script>
    {% ADDITIONAL_SCRIPTS %}

</body></html>